<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage.dao.AccountInfoMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.AccountInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="account_bank_name" jdbcType="VARCHAR" property="accountBankName" />
    <result column="account_bank_address" jdbcType="VARCHAR" property="accountBankAddress" />
    <result column="account_bank_totalname" jdbcType="VARCHAR" property="accountBankTotalname" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="cash_bank_id" jdbcType="BIGINT" property="cashBankId" />
    <result column="invoice_status" jdbcType="INTEGER" property="invoiceStatus" />
    <result column="invoice_payable" jdbcType="VARCHAR" property="invoicePayable" />
    <result column="taxpayer_idenNumber" jdbcType="VARCHAR" property="taxpayerIdennumber" />
    <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType" />
    <result column="invoice_recipient" jdbcType="VARCHAR" property="invoiceRecipient" />
    <result column="invoice_receiving_telephone" jdbcType="VARCHAR" property="invoiceReceivingTelephone" />
    <result column="invoice_receiving_address" jdbcType="VARCHAR" property="invoiceReceivingAddress" />
    <result column="company_registered_address" jdbcType="VARCHAR" property="companyRegisteredAddress" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="invoice_bank" jdbcType="VARCHAR" property="invoiceBank" />
    <result column="invoice_bank_num" jdbcType="VARCHAR" property="invoiceBankNum" />
    <result column="account_status" jdbcType="INTEGER" property="accountStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.AccountInfo">
    insert into account_info (id, shop_id, account_bank_name, 
      account_bank_address, account_bank_totalname, 
      account_name, cash_bank_id, invoice_status, 
      invoice_payable, taxpayer_idenNumber, invoice_type, 
      invoice_recipient, invoice_receiving_telephone, 
      invoice_receiving_address, company_registered_address, 
      telephone, invoice_bank, invoice_bank_num, 
      account_status, create_time, update_time, 
      create_by, update_by)
    values (#{id,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, #{accountBankName,jdbcType=VARCHAR}, 
      #{accountBankAddress,jdbcType=VARCHAR}, #{accountBankTotalname,jdbcType=VARCHAR}, 
      #{accountName,jdbcType=VARCHAR}, #{cashBankId,jdbcType=BIGINT}, #{invoiceStatus,jdbcType=INTEGER}, 
      #{invoicePayable,jdbcType=VARCHAR}, #{taxpayerIdennumber,jdbcType=VARCHAR}, #{invoiceType,jdbcType=VARCHAR}, 
      #{invoiceRecipient,jdbcType=VARCHAR}, #{invoiceReceivingTelephone,jdbcType=VARCHAR}, 
      #{invoiceReceivingAddress,jdbcType=VARCHAR}, #{companyRegisteredAddress,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{invoiceBank,jdbcType=VARCHAR}, #{invoiceBankNum,jdbcType=VARCHAR}, 
      #{accountStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.AccountInfo">
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="accountBankName != null">
        account_bank_name,
      </if>
      <if test="accountBankAddress != null">
        account_bank_address,
      </if>
      <if test="accountBankTotalname != null">
        account_bank_totalname,
      </if>
      <if test="accountName != null">
        account_name,
      </if>
      <if test="cashBankId != null">
        cash_bank_id,
      </if>
      <if test="invoiceStatus != null">
        invoice_status,
      </if>
      <if test="invoicePayable != null">
        invoice_payable,
      </if>
      <if test="taxpayerIdennumber != null">
        taxpayer_idenNumber,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="invoiceRecipient != null">
        invoice_recipient,
      </if>
      <if test="invoiceReceivingTelephone != null">
        invoice_receiving_telephone,
      </if>
      <if test="invoiceReceivingAddress != null">
        invoice_receiving_address,
      </if>
      <if test="companyRegisteredAddress != null">
        company_registered_address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="invoiceBank != null">
        invoice_bank,
      </if>
      <if test="invoiceBankNum != null">
        invoice_bank_num,
      </if>
      <if test="accountStatus != null">
        account_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="accountBankName != null">
        #{accountBankName,jdbcType=VARCHAR},
      </if>
      <if test="accountBankAddress != null">
        #{accountBankAddress,jdbcType=VARCHAR},
      </if>
      <if test="accountBankTotalname != null">
        #{accountBankTotalname,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="cashBankId != null">
        #{cashBankId,jdbcType=BIGINT},
      </if>
      <if test="invoiceStatus != null">
        #{invoiceStatus,jdbcType=INTEGER},
      </if>
      <if test="invoicePayable != null">
        #{invoicePayable,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerIdennumber != null">
        #{taxpayerIdennumber,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceRecipient != null">
        #{invoiceRecipient,jdbcType=VARCHAR},
      </if>
      <if test="invoiceReceivingTelephone != null">
        #{invoiceReceivingTelephone,jdbcType=VARCHAR},
      </if>
      <if test="invoiceReceivingAddress != null">
        #{invoiceReceivingAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyRegisteredAddress != null">
        #{companyRegisteredAddress,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="invoiceBank != null">
        #{invoiceBank,jdbcType=VARCHAR},
      </if>
      <if test="invoiceBankNum != null">
        #{invoiceBankNum,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>