<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage.dao.ActOrderMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.ActOrder">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="act_goods_sku_id" jdbcType="BIGINT" property="actGoodsSkuId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="is_opend" jdbcType="INTEGER" property="isOpend" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.ActOrder">
    insert into act_order (id, order_id, act_goods_sku_id, 
      state, is_opend, user_id, 
      parent_id, people_num, is_deleted, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{actGoodsSkuId,jdbcType=BIGINT}, 
      #{state,jdbcType=INTEGER}, #{isOpend,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{parentId,jdbcType=BIGINT}, #{peopleNum,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.ActOrder">
    insert into act_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="actGoodsSkuId != null">
        act_goods_sku_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="isOpend != null">
        is_opend,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="peopleNum != null">
        people_num,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="actGoodsSkuId != null">
        #{actGoodsSkuId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isOpend != null">
        #{isOpend,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="peopleNum != null">
        #{peopleNum,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.ActOrder">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="act_goods_sku_id" jdbcType="BIGINT" property="actGoodsSkuId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="is_opend" jdbcType="INTEGER" property="isOpend" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.ActOrder">
    insert into act_order (id, order_id, act_goods_sku_id, 
      state, is_opend, user_id, 
      parent_id, people_num, is_deleted, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{actGoodsSkuId,jdbcType=BIGINT}, 
      #{state,jdbcType=INTEGER}, #{isOpend,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{parentId,jdbcType=BIGINT}, #{peopleNum,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.ActOrder">
    insert into act_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="actGoodsSkuId != null">
        act_goods_sku_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="isOpend != null">
        is_opend,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="peopleNum != null">
        people_num,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="actGoodsSkuId != null">
        #{actGoodsSkuId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isOpend != null">
        #{isOpend,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="peopleNum != null">
        #{peopleNum,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>