<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage.dao.BaseTaxMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.BaseTax">
    <result column="tax_id" jdbcType="INTEGER" property="taxId" />
    <result column="low_level" jdbcType="DECIMAL" property="lowLevel" />
    <result column="high_level" jdbcType="DECIMAL" property="highLevel" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="quick_cal_deduction" jdbcType="DECIMAL" property="quickCalDeduction" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.BaseTax">
    insert into base_tax (tax_id, low_level, high_level, 
      rate, quick_cal_deduction, create_by, 
      create_time, update_by, update_time, 
      is_delete)
    values (#{taxId,jdbcType=INTEGER}, #{lowLevel,jdbcType=DECIMAL}, #{highLevel,jdbcType=DECIMAL}, 
      #{rate,jdbcType=DECIMAL}, #{quickCalDeduction,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.BaseTax">
    insert into base_tax
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taxId != null">
        tax_id,
      </if>
      <if test="lowLevel != null">
        low_level,
      </if>
      <if test="highLevel != null">
        high_level,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="quickCalDeduction != null">
        quick_cal_deduction,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taxId != null">
        #{taxId,jdbcType=INTEGER},
      </if>
      <if test="lowLevel != null">
        #{lowLevel,jdbcType=DECIMAL},
      </if>
      <if test="highLevel != null">
        #{highLevel,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="quickCalDeduction != null">
        #{quickCalDeduction,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>