<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage.dao.BillDetailMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.BillDetail">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="bill_id" jdbcType="BIGINT" property="billId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="product_info" jdbcType="VARCHAR" property="productInfo" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="order_money" jdbcType="DECIMAL" property="orderMoney" />
    <result column="pay_money" jdbcType="DECIMAL" property="payMoney" />
    <result column="charge" jdbcType="DECIMAL" property="charge" />
    <result column="settle_money" jdbcType="DECIMAL" property="settleMoney" />
    <result column="transaction_time" jdbcType="TIMESTAMP" property="transactionTime" />
    <result column="travel_date" jdbcType="DATE" property="travelDate" />
    <result column="settle_date" jdbcType="DATE" property="settleDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.BillDetail">
    insert into bill_detail (id, bill_id, order_id, 
      shop_name, product_info, user_name, 
      order_money, pay_money, charge, 
      settle_money, transaction_time, travel_date, 
      settle_date, create_time, update_time, 
      create_by, update_by)
    values (#{id,jdbcType=BIGINT}, #{billId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, 
      #{shopName,jdbcType=VARCHAR}, #{productInfo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{orderMoney,jdbcType=DECIMAL}, #{payMoney,jdbcType=DECIMAL}, #{charge,jdbcType=DECIMAL}, 
      #{settleMoney,jdbcType=DECIMAL}, #{transactionTime,jdbcType=TIMESTAMP}, #{travelDate,jdbcType=DATE}, 
      #{settleDate,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.BillDetail">
    insert into bill_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="billId != null">
        bill_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="productInfo != null">
        product_info,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="orderMoney != null">
        order_money,
      </if>
      <if test="payMoney != null">
        pay_money,
      </if>
      <if test="charge != null">
        charge,
      </if>
      <if test="settleMoney != null">
        settle_money,
      </if>
      <if test="transactionTime != null">
        transaction_time,
      </if>
      <if test="travelDate != null">
        travel_date,
      </if>
      <if test="settleDate != null">
        settle_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="billId != null">
        #{billId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="productInfo != null">
        #{productInfo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null">
        #{orderMoney,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null">
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="charge != null">
        #{charge,jdbcType=DECIMAL},
      </if>
      <if test="settleMoney != null">
        #{settleMoney,jdbcType=DECIMAL},
      </if>
      <if test="transactionTime != null">
        #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="travelDate != null">
        #{travelDate,jdbcType=DATE},
      </if>
      <if test="settleDate != null">
        #{settleDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>