<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage.dao.CashInfoMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.CashInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="cash_type" jdbcType="INTEGER" property="cashType" />
    <result column="apply_id" jdbcType="VARCHAR" property="applyId" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="apply_money" jdbcType="DECIMAL" property="applyMoney" />
    <result column="reduce_tax" jdbcType="DECIMAL" property="reduceTax" />
    <result column="settlement_money" jdbcType="DECIMAL" property="settlementMoney" />
    <result column="cash_status" jdbcType="INTEGER" property="cashStatus" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="bill_status" jdbcType="INTEGER" property="billStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="invoice_status" jdbcType="TINYINT" property="invoiceStatus" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.CashInfo">
    insert into cash_info (id, shop_name, cash_type, 
      apply_id, phone_no, account_id, 
      apply_money, reduce_tax, settlement_money, 
      cash_status, order_num, bill_status, 
      create_time, update_time, create_by, 
      update_by, is_deleted, invoice_status
      )
    values (#{id,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, #{cashType,jdbcType=INTEGER}, 
      #{applyId,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{accountId,jdbcType=BIGINT}, 
      #{applyMoney,jdbcType=DECIMAL}, #{reduceTax,jdbcType=DECIMAL}, #{settlementMoney,jdbcType=DECIMAL}, 
      #{cashStatus,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, #{billStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, #{invoiceStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.CashInfo">
    insert into cash_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="cashType != null">
        cash_type,
      </if>
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="applyMoney != null">
        apply_money,
      </if>
      <if test="reduceTax != null">
        reduce_tax,
      </if>
      <if test="settlementMoney != null">
        settlement_money,
      </if>
      <if test="cashStatus != null">
        cash_status,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="billStatus != null">
        bill_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="invoiceStatus != null">
        invoice_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="cashType != null">
        #{cashType,jdbcType=INTEGER},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="applyMoney != null">
        #{applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="reduceTax != null">
        #{reduceTax,jdbcType=DECIMAL},
      </if>
      <if test="settlementMoney != null">
        #{settlementMoney,jdbcType=DECIMAL},
      </if>
      <if test="cashStatus != null">
        #{cashStatus,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="billStatus != null">
        #{billStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="invoiceStatus != null">
        #{invoiceStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>