<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage.dao.CashLogMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.CashLog">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="cash_apply_id" jdbcType="BIGINT" property="cashApplyId" />
    <result column="reject_result" jdbcType="VARCHAR" property="rejectResult" />
    <result column="reject_imgs" jdbcType="VARCHAR" property="rejectImgs" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.CashLog">
    insert into cash_log (id, cash_apply_id, reject_result, 
      reject_imgs, is_deleted, create_time, 
      update_time, create_by, update_by
      )
    values (#{id,jdbcType=BIGINT}, #{cashApplyId,jdbcType=BIGINT}, #{rejectResult,jdbcType=VARCHAR}, 
      #{rejectImgs,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.CashLog">
    insert into cash_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cashApplyId != null">
        cash_apply_id,
      </if>
      <if test="rejectResult != null">
        reject_result,
      </if>
      <if test="rejectImgs != null">
        reject_imgs,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cashApplyId != null">
        #{cashApplyId,jdbcType=BIGINT},
      </if>
      <if test="rejectResult != null">
        #{rejectResult,jdbcType=VARCHAR},
      </if>
      <if test="rejectImgs != null">
        #{rejectImgs,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>