<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage.dao.GoodsSpuMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.GoodsSpu">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_name" jdbcType="VARCHAR" property="spuName" />
    <result column="spu_code" jdbcType="VARCHAR" property="spuCode" />
    <result column="spu_type" jdbcType="INTEGER" property="spuType" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.GoodsSpu">
    insert into goods_spu (id, spu_name, spu_code, 
      spu_type, category_id, brand_id, 
      is_deleted, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{spuName,jdbcType=VARCHAR}, #{spuCode,jdbcType=VARCHAR}, 
      #{spuType,jdbcType=INTEGER}, #{categoryId,jdbcType=BIGINT}, #{brandId,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.GoodsSpu">
    insert into goods_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spuName != null">
        spu_name,
      </if>
      <if test="spuCode != null">
        spu_code,
      </if>
      <if test="spuType != null">
        spu_type,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spuName != null">
        #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="spuCode != null">
        #{spuCode,jdbcType=VARCHAR},
      </if>
      <if test="spuType != null">
        #{spuType,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.GoodsSpu">
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="spu_type" jdbcType="VARCHAR" property="spuType" />
    <result column="spu_name" jdbcType="VARCHAR" property="spuName" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xq.live.globalVoyage.entity.GoodsSpuWithBLOBs">
    <result column="goods_summary" jdbcType="LONGVARCHAR" property="goodsSummary" />
    <result column="goods_detail" jdbcType="LONGVARCHAR" property="goodsDetail" />
    <result column="goods_memo" jdbcType="LONGVARCHAR" property="goodsMemo" />
    <result column="goods_notice" jdbcType="LONGVARCHAR" property="goodsNotice" />
  </resultMap>
  <sql id="Blob_Column_List">
    goods_summary, goods_detail, goods_memo, goods_notice
  </sql>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.GoodsSpuWithBLOBs">
    insert into goods_spu (spu_id, shop_id, spu_type, 
      spu_name, order_num, is_deleted, 
      create_time, update_time, create_by, 
      update_by, goods_summary, goods_detail, 
      goods_memo, goods_notice)
    values (#{spuId,jdbcType=BIGINT}, #{shopId,jdbcType=VARCHAR}, #{spuType,jdbcType=VARCHAR}, 
      #{spuName,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{isDeleted,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{goodsSummary,jdbcType=LONGVARCHAR}, #{goodsDetail,jdbcType=LONGVARCHAR}, 
      #{goodsMemo,jdbcType=LONGVARCHAR}, #{goodsNotice,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.GoodsSpuWithBLOBs">
    insert into goods_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="spuType != null">
        spu_type,
      </if>
      <if test="spuName != null">
        spu_name,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="goodsSummary != null">
        goods_summary,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="goodsMemo != null">
        goods_memo,
      </if>
      <if test="goodsNotice != null">
        goods_notice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="spuType != null">
        #{spuType,jdbcType=VARCHAR},
      </if>
      <if test="spuName != null">
        #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="goodsSummary != null">
        #{goodsSummary,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsMemo != null">
        #{goodsMemo,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsNotice != null">
        #{goodsNotice,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.GoodsSpu">
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="spu_name" jdbcType="VARCHAR" property="spuName" />
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="goods_main_pic" jdbcType="VARCHAR" property="goodsMainPic" />
    <result column="spu_type" jdbcType="VARCHAR" property="spuType" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="goods_small_pics" jdbcType="VARCHAR" property="goodsSmallPics" />
    <result column="goods_seq" jdbcType="INTEGER" property="goodsSeq" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="details_img" jdbcType="VARCHAR" property="detailsImg" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xq.live.globalVoyage.entity.GoodsSpuWithBLOBs">
    <result column="goods_specs" jdbcType="LONGVARCHAR" property="goodsSpecs" />
    <result column="goods_attrs" jdbcType="LONGVARCHAR" property="goodsAttrs" />
  </resultMap>
  <sql id="Blob_Column_List">
    goods_specs, goods_attrs
  </sql>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.GoodsSpuWithBLOBs">
    insert into goods_spu (spu_id, spu_name, class_id, 
      brand_id, goods_main_pic, spu_type, 
      shop_id, is_deleted, create_time, 
      update_time, create_by, update_by, 
      goods_small_pics, goods_seq, details, 
      details_img, goods_specs, goods_attrs
      )
    values (#{spuId,jdbcType=BIGINT}, #{spuName,jdbcType=VARCHAR}, #{classId,jdbcType=BIGINT}, 
      #{brandId,jdbcType=BIGINT}, #{goodsMainPic,jdbcType=VARCHAR}, #{spuType,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{goodsSmallPics,jdbcType=VARCHAR}, #{goodsSeq,jdbcType=INTEGER}, #{details,jdbcType=VARCHAR}, 
      #{detailsImg,jdbcType=VARCHAR}, #{goodsSpecs,jdbcType=LONGVARCHAR}, #{goodsAttrs,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.GoodsSpuWithBLOBs">
    insert into goods_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="spuName != null">
        spu_name,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="goodsMainPic != null">
        goods_main_pic,
      </if>
      <if test="spuType != null">
        spu_type,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="goodsSmallPics != null">
        goods_small_pics,
      </if>
      <if test="goodsSeq != null">
        goods_seq,
      </if>
      <if test="details != null">
        details,
      </if>
      <if test="detailsImg != null">
        details_img,
      </if>
      <if test="goodsSpecs != null">
        goods_specs,
      </if>
      <if test="goodsAttrs != null">
        goods_attrs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="spuName != null">
        #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="goodsMainPic != null">
        #{goodsMainPic,jdbcType=VARCHAR},
      </if>
      <if test="spuType != null">
        #{spuType,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="goodsSmallPics != null">
        #{goodsSmallPics,jdbcType=VARCHAR},
      </if>
      <if test="goodsSeq != null">
        #{goodsSeq,jdbcType=INTEGER},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="detailsImg != null">
        #{detailsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecs != null">
        #{goodsSpecs,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsAttrs != null">
        #{goodsAttrs,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.GoodsSpu">
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="spu_name" jdbcType="VARCHAR" property="spuName" />
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="spu_type" jdbcType="VARCHAR" property="spuType" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="goods_seq" jdbcType="INTEGER" property="goodsSeq" />
    <result column="details" jdbcType="VARCHAR" property="details" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xq.live.globalVoyage.entity.GoodsSpuWithBLOBs">
    <result column="goods_specs" jdbcType="LONGVARCHAR" property="goodsSpecs" />
    <result column="goods_attrs" jdbcType="LONGVARCHAR" property="goodsAttrs" />
    <result column="goods_main_pic" jdbcType="LONGVARCHAR" property="goodsMainPic" />
    <result column="goods_small_pics" jdbcType="LONGVARCHAR" property="goodsSmallPics" />
    <result column="details_img" jdbcType="LONGVARCHAR" property="detailsImg" />
  </resultMap>
  <sql id="Blob_Column_List">
    goods_specs, goods_attrs, goods_main_pic, goods_small_pics, details_img
  </sql>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.GoodsSpuWithBLOBs">
    insert into goods_spu (spu_id, spu_name, class_id, 
      brand_id, spu_type, shop_id, 
      is_deleted, create_time, update_time, 
      create_by, update_by, goods_seq, 
      details, goods_specs, goods_attrs, 
      goods_main_pic, goods_small_pics, details_img
      )
    values (#{spuId,jdbcType=BIGINT}, #{spuName,jdbcType=VARCHAR}, #{classId,jdbcType=BIGINT}, 
      #{brandId,jdbcType=BIGINT}, #{spuType,jdbcType=VARCHAR}, #{shopId,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{goodsSeq,jdbcType=INTEGER}, 
      #{details,jdbcType=VARCHAR}, #{goodsSpecs,jdbcType=LONGVARCHAR}, #{goodsAttrs,jdbcType=LONGVARCHAR}, 
      #{goodsMainPic,jdbcType=LONGVARCHAR}, #{goodsSmallPics,jdbcType=LONGVARCHAR}, #{detailsImg,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.GoodsSpuWithBLOBs">
    insert into goods_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="spuName != null">
        spu_name,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="spuType != null">
        spu_type,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="goodsSeq != null">
        goods_seq,
      </if>
      <if test="details != null">
        details,
      </if>
      <if test="goodsSpecs != null">
        goods_specs,
      </if>
      <if test="goodsAttrs != null">
        goods_attrs,
      </if>
      <if test="goodsMainPic != null">
        goods_main_pic,
      </if>
      <if test="goodsSmallPics != null">
        goods_small_pics,
      </if>
      <if test="detailsImg != null">
        details_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="spuName != null">
        #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="spuType != null">
        #{spuType,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="goodsSeq != null">
        #{goodsSeq,jdbcType=INTEGER},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecs != null">
        #{goodsSpecs,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsAttrs != null">
        #{goodsAttrs,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsMainPic != null">
        #{goodsMainPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsSmallPics != null">
        #{goodsSmallPics,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailsImg != null">
        #{detailsImg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>