<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage.dao.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.OrderInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="order_address_id" jdbcType="BIGINT" property="orderAddressId" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="send_type" jdbcType="INTEGER" property="sendType" />
    <result column="send_time" jdbcType="VARCHAR" property="sendTime" />
    <result column="sku_amount" jdbcType="DECIMAL" property="skuAmount" />
    <result column="send_amount" jdbcType="DECIMAL" property="sendAmount" />
    <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
    <result column="qrcode_url" jdbcType="VARCHAR" property="qrcodeUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="expiry_date" jdbcType="DATE" property="expiryDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="paid_time" jdbcType="TIMESTAMP" property="paidTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="salepoint_id" jdbcType="BIGINT" property="salepointId" />
    <result column="parent_order_id" jdbcType="BIGINT" property="parentOrderId" />
    <result column="is_parent" jdbcType="INTEGER" property="isParent" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="single_type" jdbcType="INTEGER" property="singleType" />
    <result column="flag_type" jdbcType="INTEGER" property="flagType" />
    <result column="is_dui" jdbcType="INTEGER" property="isDui" />
    <result column="act_id" jdbcType="BIGINT" property="actId" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="so_id" jdbcType="BIGINT" property="soId" />
    <result column="create_type" jdbcType="INTEGER" property="createType" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.OrderInfo">
    insert into order_info (id, order_code, user_id, 
      user_name, shop_id, order_address_id, 
      pay_type, send_type, send_time, 
      sku_amount, send_amount, real_amount, 
      qrcode_url, status, expiry_date, 
      create_time, paid_time, update_time, 
      salepoint_id, parent_order_id, is_parent, 
      order_type, single_type, flag_type, 
      is_dui, act_id, source_type, 
      so_id, create_type, is_deleted, 
      account_amount)
    values (#{id,jdbcType=BIGINT}, #{orderCode,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{userName,jdbcType=VARCHAR}, #{shopId,jdbcType=BIGINT}, #{orderAddressId,jdbcType=BIGINT}, 
      #{payType,jdbcType=INTEGER}, #{sendType,jdbcType=INTEGER}, #{sendTime,jdbcType=VARCHAR}, 
      #{skuAmount,jdbcType=DECIMAL}, #{sendAmount,jdbcType=DECIMAL}, #{realAmount,jdbcType=DECIMAL}, 
      #{qrcodeUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{expiryDate,jdbcType=DATE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{paidTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{salepointId,jdbcType=BIGINT}, #{parentOrderId,jdbcType=BIGINT}, #{isParent,jdbcType=INTEGER}, 
      #{orderType,jdbcType=INTEGER}, #{singleType,jdbcType=INTEGER}, #{flagType,jdbcType=INTEGER}, 
      #{isDui,jdbcType=INTEGER}, #{actId,jdbcType=BIGINT}, #{sourceType,jdbcType=INTEGER}, 
      #{soId,jdbcType=BIGINT}, #{createType,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{accountAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="orderAddressId != null">
        order_address_id,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="skuAmount != null">
        sku_amount,
      </if>
      <if test="sendAmount != null">
        send_amount,
      </if>
      <if test="realAmount != null">
        real_amount,
      </if>
      <if test="qrcodeUrl != null">
        qrcode_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="expiryDate != null">
        expiry_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="paidTime != null">
        paid_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="salepointId != null">
        salepoint_id,
      </if>
      <if test="parentOrderId != null">
        parent_order_id,
      </if>
      <if test="isParent != null">
        is_parent,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="singleType != null">
        single_type,
      </if>
      <if test="flagType != null">
        flag_type,
      </if>
      <if test="isDui != null">
        is_dui,
      </if>
      <if test="actId != null">
        act_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="soId != null">
        so_id,
      </if>
      <if test="createType != null">
        create_type,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="accountAmount != null">
        account_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="orderAddressId != null">
        #{orderAddressId,jdbcType=BIGINT},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=VARCHAR},
      </if>
      <if test="skuAmount != null">
        #{skuAmount,jdbcType=DECIMAL},
      </if>
      <if test="sendAmount != null">
        #{sendAmount,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="qrcodeUrl != null">
        #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="expiryDate != null">
        #{expiryDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paidTime != null">
        #{paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salepointId != null">
        #{salepointId,jdbcType=BIGINT},
      </if>
      <if test="parentOrderId != null">
        #{parentOrderId,jdbcType=BIGINT},
      </if>
      <if test="isParent != null">
        #{isParent,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="singleType != null">
        #{singleType,jdbcType=INTEGER},
      </if>
      <if test="flagType != null">
        #{flagType,jdbcType=INTEGER},
      </if>
      <if test="isDui != null">
        #{isDui,jdbcType=INTEGER},
      </if>
      <if test="actId != null">
        #{actId,jdbcType=BIGINT},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="soId != null">
        #{soId,jdbcType=BIGINT},
      </if>
      <if test="createType != null">
        #{createType,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="accountAmount != null">
        #{accountAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.OrderInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="sku_amount" jdbcType="DECIMAL" property="skuAmount" />
    <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
    <result column="pay_act" jdbcType="DECIMAL" property="payAct" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="payment_status" jdbcType="INTEGER" property="paymentStatus" />
    <result column="settlement_status" jdbcType="INTEGER" property="settlementStatus" />
    <result column="gold_coin" jdbcType="INTEGER" property="goldCoin" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="order_man_name" jdbcType="VARCHAR" property="orderManName" />
    <result column="order_man_mobile" jdbcType="INTEGER" property="orderManMobile" />
    <result column="order_man_email" jdbcType="VARCHAR" property="orderManEmail" />
    <result column="order_man_remark" jdbcType="VARCHAR" property="orderManRemark" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="is_distributor" jdbcType="INTEGER" property="isDistributor" />
    <result column="distributor_id" jdbcType="BIGINT" property="distributorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.OrderInfo">
    insert into order_info (id, user_id, user_name, 
      order_code, shop_id, sku_amount, 
      discount_amount, pay_act, sku_num, 
      payment_status, settlement_status, gold_coin, 
      cancel_reason, order_man_name, order_man_mobile, 
      order_man_email, order_man_remark, pay_time, 
      order_type, is_distributor, distributor_id, 
      create_time, update_time, is_deleted, 
      create_by, update_by)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{orderCode,jdbcType=VARCHAR}, #{shopId,jdbcType=BIGINT}, #{skuAmount,jdbcType=DECIMAL}, 
      #{discountAmount,jdbcType=DECIMAL}, #{payAct,jdbcType=DECIMAL}, #{skuNum,jdbcType=INTEGER}, 
      #{paymentStatus,jdbcType=INTEGER}, #{settlementStatus,jdbcType=INTEGER}, #{goldCoin,jdbcType=INTEGER}, 
      #{cancelReason,jdbcType=VARCHAR}, #{orderManName,jdbcType=VARCHAR}, #{orderManMobile,jdbcType=INTEGER}, 
      #{orderManEmail,jdbcType=VARCHAR}, #{orderManRemark,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{orderType,jdbcType=TINYINT}, #{isDistributor,jdbcType=INTEGER}, #{distributorId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="skuAmount != null">
        sku_amount,
      </if>
      <if test="discountAmount != null">
        discount_amount,
      </if>
      <if test="payAct != null">
        pay_act,
      </if>
      <if test="skuNum != null">
        sku_num,
      </if>
      <if test="paymentStatus != null">
        payment_status,
      </if>
      <if test="settlementStatus != null">
        settlement_status,
      </if>
      <if test="goldCoin != null">
        gold_coin,
      </if>
      <if test="cancelReason != null">
        cancel_reason,
      </if>
      <if test="orderManName != null">
        order_man_name,
      </if>
      <if test="orderManMobile != null">
        order_man_mobile,
      </if>
      <if test="orderManEmail != null">
        order_man_email,
      </if>
      <if test="orderManRemark != null">
        order_man_remark,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="isDistributor != null">
        is_distributor,
      </if>
      <if test="distributorId != null">
        distributor_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="skuAmount != null">
        #{skuAmount,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null">
        #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAct != null">
        #{payAct,jdbcType=DECIMAL},
      </if>
      <if test="skuNum != null">
        #{skuNum,jdbcType=INTEGER},
      </if>
      <if test="paymentStatus != null">
        #{paymentStatus,jdbcType=INTEGER},
      </if>
      <if test="settlementStatus != null">
        #{settlementStatus,jdbcType=INTEGER},
      </if>
      <if test="goldCoin != null">
        #{goldCoin,jdbcType=INTEGER},
      </if>
      <if test="cancelReason != null">
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="orderManName != null">
        #{orderManName,jdbcType=VARCHAR},
      </if>
      <if test="orderManMobile != null">
        #{orderManMobile,jdbcType=INTEGER},
      </if>
      <if test="orderManEmail != null">
        #{orderManEmail,jdbcType=VARCHAR},
      </if>
      <if test="orderManRemark != null">
        #{orderManRemark,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="isDistributor != null">
        #{isDistributor,jdbcType=INTEGER},
      </if>
      <if test="distributorId != null">
        #{distributorId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.OrderInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="sku_amount" jdbcType="DECIMAL" property="skuAmount" />
    <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
    <result column="pay_act" jdbcType="DECIMAL" property="payAct" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="gold_coin" jdbcType="INTEGER" property="goldCoin" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.OrderInfo">
    insert into order_info (id, user_id, user_name, 
      order_code, shop_id, sku_amount, 
      discount_amount, pay_act, sku_num, 
      status, gold_coin, cancel_reason, 
      remark, pay_time, order_type, 
      create_time, update_time, is_deleted, 
      create_by, update_by)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{orderCode,jdbcType=VARCHAR}, #{shopId,jdbcType=BIGINT}, #{skuAmount,jdbcType=DECIMAL}, 
      #{discountAmount,jdbcType=DECIMAL}, #{payAct,jdbcType=DECIMAL}, #{skuNum,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{goldCoin,jdbcType=INTEGER}, #{cancelReason,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, #{orderType,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="skuAmount != null">
        sku_amount,
      </if>
      <if test="discountAmount != null">
        discount_amount,
      </if>
      <if test="payAct != null">
        pay_act,
      </if>
      <if test="skuNum != null">
        sku_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="goldCoin != null">
        gold_coin,
      </if>
      <if test="cancelReason != null">
        cancel_reason,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="skuAmount != null">
        #{skuAmount,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null">
        #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAct != null">
        #{payAct,jdbcType=DECIMAL},
      </if>
      <if test="skuNum != null">
        #{skuNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="goldCoin != null">
        #{goldCoin,jdbcType=INTEGER},
      </if>
      <if test="cancelReason != null">
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.OrderInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="pickup_code" jdbcType="INTEGER" property="pickupCode" />
    <result column="order_address_id" jdbcType="BIGINT" property="orderAddressId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="send_type" jdbcType="INTEGER" property="sendType" />
    <result column="send_time" jdbcType="VARCHAR" property="sendTime" />
    <result column="sku_amount" jdbcType="DECIMAL" property="skuAmount" />
    <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
    <result column="pay_act" jdbcType="DECIMAL" property="payAct" />
    <result column="wrap_price" jdbcType="DECIMAL" property="wrapPrice" />
    <result column="ship_amount" jdbcType="DECIMAL" property="shipAmount" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="settle_price" jdbcType="DECIMAL" property="settlePrice" />
    <result column="total_weight" jdbcType="DOUBLE" property="totalWeight" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="gold_coin" jdbcType="INTEGER" property="goldCoin" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="pre_phone" jdbcType="VARCHAR" property="prePhone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="settle_time" jdbcType="TIMESTAMP" property="settleTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.OrderInfo">
    insert into order_info (id, user_id, order_code, 
      pickup_code, order_address_id, shop_id, 
      send_type, send_time, sku_amount, 
      discount_amount, pay_act, wrap_price, 
      ship_amount, sku_num, settle_price, 
      total_weight, status, gold_coin, 
      cancel_reason, pre_phone, remark, 
      settle_time, create_time, update_time, 
      is_deleted, create_by, update_by
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{orderCode,jdbcType=VARCHAR}, 
      #{pickupCode,jdbcType=INTEGER}, #{orderAddressId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, 
      #{sendType,jdbcType=INTEGER}, #{sendTime,jdbcType=VARCHAR}, #{skuAmount,jdbcType=DECIMAL}, 
      #{discountAmount,jdbcType=DECIMAL}, #{payAct,jdbcType=DECIMAL}, #{wrapPrice,jdbcType=DECIMAL}, 
      #{shipAmount,jdbcType=DECIMAL}, #{skuNum,jdbcType=INTEGER}, #{settlePrice,jdbcType=DECIMAL}, 
      #{totalWeight,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER}, #{goldCoin,jdbcType=INTEGER}, 
      #{cancelReason,jdbcType=VARCHAR}, #{prePhone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{settleTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="pickupCode != null">
        pickup_code,
      </if>
      <if test="orderAddressId != null">
        order_address_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="skuAmount != null">
        sku_amount,
      </if>
      <if test="discountAmount != null">
        discount_amount,
      </if>
      <if test="payAct != null">
        pay_act,
      </if>
      <if test="wrapPrice != null">
        wrap_price,
      </if>
      <if test="shipAmount != null">
        ship_amount,
      </if>
      <if test="skuNum != null">
        sku_num,
      </if>
      <if test="settlePrice != null">
        settle_price,
      </if>
      <if test="totalWeight != null">
        total_weight,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="goldCoin != null">
        gold_coin,
      </if>
      <if test="cancelReason != null">
        cancel_reason,
      </if>
      <if test="prePhone != null">
        pre_phone,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="settleTime != null">
        settle_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="pickupCode != null">
        #{pickupCode,jdbcType=INTEGER},
      </if>
      <if test="orderAddressId != null">
        #{orderAddressId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=VARCHAR},
      </if>
      <if test="skuAmount != null">
        #{skuAmount,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null">
        #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAct != null">
        #{payAct,jdbcType=DECIMAL},
      </if>
      <if test="wrapPrice != null">
        #{wrapPrice,jdbcType=DECIMAL},
      </if>
      <if test="shipAmount != null">
        #{shipAmount,jdbcType=DECIMAL},
      </if>
      <if test="skuNum != null">
        #{skuNum,jdbcType=INTEGER},
      </if>
      <if test="settlePrice != null">
        #{settlePrice,jdbcType=DECIMAL},
      </if>
      <if test="totalWeight != null">
        #{totalWeight,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="goldCoin != null">
        #{goldCoin,jdbcType=INTEGER},
      </if>
      <if test="cancelReason != null">
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="prePhone != null">
        #{prePhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="settleTime != null">
        #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>