<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage.dao.ShopCartMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.ShopCart">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="act_id" jdbcType="TINYINT" property="actId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_sku" jdbcType="BIGINT" property="goodsSku" />
    <result column="goods_spu" jdbcType="BIGINT" property="goodsSpu" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.ShopCart">
    insert into shop_cart (id, act_id, user_id, 
      shop_id, goods_name, goods_sku, 
      goods_spu, goods_count, is_deleted, 
      create_time, update_time, create_by, 
      update_by)
    values (#{id,jdbcType=BIGINT}, #{actId,jdbcType=TINYINT}, #{userId,jdbcType=BIGINT}, 
      #{shopId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, #{goodsSku,jdbcType=BIGINT}, 
      #{goodsSpu,jdbcType=BIGINT}, #{goodsCount,jdbcType=INTEGER}, #{isDeleted,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.ShopCart">
    insert into shop_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="actId != null">
        act_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsSku != null">
        goods_sku,
      </if>
      <if test="goodsSpu != null">
        goods_spu,
      </if>
      <if test="goodsCount != null">
        goods_count,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="actId != null">
        #{actId,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSku != null">
        #{goodsSku,jdbcType=BIGINT},
      </if>
      <if test="goodsSpu != null">
        #{goodsSpu,jdbcType=BIGINT},
      </if>
      <if test="goodsCount != null">
        #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.ShopCart">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="goods_sku" jdbcType="BIGINT" property="goodsSku" />
    <result column="goods_spu" jdbcType="BIGINT" property="goodsSpu" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="goods_type" jdbcType="TINYINT" property="goodsType" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.ShopCart">
    insert into shop_cart (id, user_id, shop_id, 
      goods_sku, goods_spu, goods_count, 
      goods_type, is_deleted, create_time, 
      update_time, create_by, update_by
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, 
      #{goodsSku,jdbcType=BIGINT}, #{goodsSpu,jdbcType=BIGINT}, #{goodsCount,jdbcType=INTEGER}, 
      #{goodsType,jdbcType=TINYINT}, #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.ShopCart">
    insert into shop_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="goodsSku != null">
        goods_sku,
      </if>
      <if test="goodsSpu != null">
        goods_spu,
      </if>
      <if test="goodsCount != null">
        goods_count,
      </if>
      <if test="goodsType != null">
        goods_type,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="goodsSku != null">
        #{goodsSku,jdbcType=BIGINT},
      </if>
      <if test="goodsSpu != null">
        #{goodsSpu,jdbcType=BIGINT},
      </if>
      <if test="goodsCount != null">
        #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage.entity.ShopCart">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_sku" jdbcType="BIGINT" property="goodsSku" />
    <result column="goods_spu" jdbcType="BIGINT" property="goodsSpu" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="goods_sell_price" jdbcType="DECIMAL" property="goodsSellPrice" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="goods_weight" jdbcType="DOUBLE" property="goodsWeight" />
    <result column="gs_code" jdbcType="VARCHAR" property="gsCode" />
    <result column="goods_main_pic" jdbcType="VARCHAR" property="goodsMainPic" />
    <result column="goods_small_pics" jdbcType="VARCHAR" property="goodsSmallPics" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.live.globalVoyage.entity.ShopCart">
    insert into shop_cart (id, user_id, shop_id, 
      goods_name, goods_sku, goods_spu, 
      goods_price, goods_sell_price, goods_count, 
      goods_weight, gs_code, goods_main_pic, 
      goods_small_pics, is_deleted, create_time, 
      update_time, create_by, update_by
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsSku,jdbcType=BIGINT}, #{goodsSpu,jdbcType=BIGINT}, 
      #{goodsPrice,jdbcType=DECIMAL}, #{goodsSellPrice,jdbcType=DECIMAL}, #{goodsCount,jdbcType=INTEGER}, 
      #{goodsWeight,jdbcType=DOUBLE}, #{gsCode,jdbcType=VARCHAR}, #{goodsMainPic,jdbcType=VARCHAR}, 
      #{goodsSmallPics,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage.entity.ShopCart">
    insert into shop_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsSku != null">
        goods_sku,
      </if>
      <if test="goodsSpu != null">
        goods_spu,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="goodsSellPrice != null">
        goods_sell_price,
      </if>
      <if test="goodsCount != null">
        goods_count,
      </if>
      <if test="goodsWeight != null">
        goods_weight,
      </if>
      <if test="gsCode != null">
        gs_code,
      </if>
      <if test="goodsMainPic != null">
        goods_main_pic,
      </if>
      <if test="goodsSmallPics != null">
        goods_small_pics,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSku != null">
        #{goodsSku,jdbcType=BIGINT},
      </if>
      <if test="goodsSpu != null">
        #{goodsSpu,jdbcType=BIGINT},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsSellPrice != null">
        #{goodsSellPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsCount != null">
        #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="goodsWeight != null">
        #{goodsWeight,jdbcType=DOUBLE},
      </if>
      <if test="gsCode != null">
        #{gsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsMainPic != null">
        #{goodsMainPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsSmallPics != null">
        #{goodsSmallPics,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>