# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.mp4
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.settings/
node_modules/
target/
_book/
.svn/
dist/

# Eclipse project files
.classpath
.project
.tableList
.pri*
.fieldMapping*
*.bak
.flattened-pom.xml
.checkstyle
oripom.xml
*.lock.db
package-lock.json
/updatelog.txt
*.iml
.idea
.idea/
out
.gradle
target
