<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- spring 自带 task: 非 quartz -->

    <!-- 解析 IOC 中的 @Schedule 注解, 等价于 @EnableScheduling -->
    <!--    <task:annotation-driven scheduler="myScheduler"/>-->

    <task:scheduler id="myScheduler" pool-size="20"/>


    <task:scheduled-tasks scheduler="myScheduler">
        <!-- fixed-delay: 上次任务结束后，再延迟指定毫秒数 -->
        <task:scheduled ref="springTaskXML" method="execute" fixed-delay="1000"/>
    </task:scheduled-tasks>


</beans>