<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage$.dao.BaseTaxMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage$.model.BaseTax">
    <result column="tax_id" jdbcType="INTEGER" property="taxId" />
    <result column="low_level" jdbcType="DECIMAL" property="lowLevel" />
    <result column="high_level" jdbcType="DECIMAL" property="highLevel" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="quick_cal_deduction" jdbcType="DECIMAL" property="quickCalDeduction" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tax_id, low_level, high_level, rate, quick_cal_deduction, create_by, create_time, 
    update_by, update_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="com.xq.live.globalVoyage$.model.BaseTaxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_tax
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xq.live.globalVoyage$.model.BaseTaxExample">
    delete from base_tax
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xq.live.globalVoyage$.model.BaseTax">
    insert into base_tax (tax_id, low_level, high_level, 
      rate, quick_cal_deduction, create_by, 
      create_time, update_by, update_time, 
      is_delete)
    values (#{taxId,jdbcType=INTEGER}, #{lowLevel,jdbcType=DECIMAL}, #{highLevel,jdbcType=DECIMAL}, 
      #{rate,jdbcType=DECIMAL}, #{quickCalDeduction,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage$.model.BaseTax">
    insert into base_tax
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taxId != null">
        tax_id,
      </if>
      <if test="lowLevel != null">
        low_level,
      </if>
      <if test="highLevel != null">
        high_level,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="quickCalDeduction != null">
        quick_cal_deduction,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taxId != null">
        #{taxId,jdbcType=INTEGER},
      </if>
      <if test="lowLevel != null">
        #{lowLevel,jdbcType=DECIMAL},
      </if>
      <if test="highLevel != null">
        #{highLevel,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="quickCalDeduction != null">
        #{quickCalDeduction,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xq.live.globalVoyage$.model.BaseTaxExample" resultType="java.lang.Long">
    select count(*) from base_tax
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update base_tax
    <set>
      <if test="record.taxId != null">
        tax_id = #{record.taxId,jdbcType=INTEGER},
      </if>
      <if test="record.lowLevel != null">
        low_level = #{record.lowLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.highLevel != null">
        high_level = #{record.highLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=DECIMAL},
      </if>
      <if test="record.quickCalDeduction != null">
        quick_cal_deduction = #{record.quickCalDeduction,jdbcType=DECIMAL},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update base_tax
    set tax_id = #{record.taxId,jdbcType=INTEGER},
      low_level = #{record.lowLevel,jdbcType=DECIMAL},
      high_level = #{record.highLevel,jdbcType=DECIMAL},
      rate = #{record.rate,jdbcType=DECIMAL},
      quick_cal_deduction = #{record.quickCalDeduction,jdbcType=DECIMAL},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage$.model.BaseTax">
    <result column="tax_id" jdbcType="INTEGER" property="taxId" />
    <result column="low_level" jdbcType="DECIMAL" property="lowLevel" />
    <result column="high_level" jdbcType="DECIMAL" property="highLevel" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="quick_cal_deduction" jdbcType="DECIMAL" property="quickCalDeduction" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tax_id, low_level, high_level, rate, quick_cal_deduction, create_by, create_time, 
    update_by, update_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="com.xq.live.globalVoyage$.model.BaseTaxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_tax
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xq.live.globalVoyage$.model.BaseTaxExample">
    delete from base_tax
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xq.live.globalVoyage$.model.BaseTax">
    insert into base_tax (tax_id, low_level, high_level, 
      rate, quick_cal_deduction, create_by, 
      create_time, update_by, update_time, 
      is_delete)
    values (#{taxId,jdbcType=INTEGER}, #{lowLevel,jdbcType=DECIMAL}, #{highLevel,jdbcType=DECIMAL}, 
      #{rate,jdbcType=DECIMAL}, #{quickCalDeduction,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage$.model.BaseTax">
    insert into base_tax
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taxId != null">
        tax_id,
      </if>
      <if test="lowLevel != null">
        low_level,
      </if>
      <if test="highLevel != null">
        high_level,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="quickCalDeduction != null">
        quick_cal_deduction,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taxId != null">
        #{taxId,jdbcType=INTEGER},
      </if>
      <if test="lowLevel != null">
        #{lowLevel,jdbcType=DECIMAL},
      </if>
      <if test="highLevel != null">
        #{highLevel,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="quickCalDeduction != null">
        #{quickCalDeduction,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xq.live.globalVoyage$.model.BaseTaxExample" resultType="java.lang.Long">
    select count(*) from base_tax
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update base_tax
    <set>
      <if test="record.taxId != null">
        tax_id = #{record.taxId,jdbcType=INTEGER},
      </if>
      <if test="record.lowLevel != null">
        low_level = #{record.lowLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.highLevel != null">
        high_level = #{record.highLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=DECIMAL},
      </if>
      <if test="record.quickCalDeduction != null">
        quick_cal_deduction = #{record.quickCalDeduction,jdbcType=DECIMAL},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update base_tax
    set tax_id = #{record.taxId,jdbcType=INTEGER},
      low_level = #{record.lowLevel,jdbcType=DECIMAL},
      high_level = #{record.highLevel,jdbcType=DECIMAL},
      rate = #{record.rate,jdbcType=DECIMAL},
      quick_cal_deduction = #{record.quickCalDeduction,jdbcType=DECIMAL},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>