<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.globalVoyage$.dao.CashInfoMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage$.model.CashInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="cash_type" jdbcType="INTEGER" property="cashType" />
    <result column="apply_id" jdbcType="VARCHAR" property="applyId" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="apply_money" jdbcType="DECIMAL" property="applyMoney" />
    <result column="reduce_tax" jdbcType="DECIMAL" property="reduceTax" />
    <result column="settlement_money" jdbcType="DECIMAL" property="settlementMoney" />
    <result column="cash_status" jdbcType="INTEGER" property="cashStatus" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="bill_status" jdbcType="INTEGER" property="billStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="invoice_status" jdbcType="TINYINT" property="invoiceStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shop_name, cash_type, apply_id, phone_no, account_id, apply_money, reduce_tax, 
    settlement_money, cash_status, order_num, bill_status, create_time, update_time, 
    create_by, update_by, is_deleted, invoice_status
  </sql>
  <select id="selectByExample" parameterType="com.xq.live.globalVoyage$.model.CashInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cash_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xq.live.globalVoyage$.model.CashInfoExample">
    delete from cash_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xq.live.globalVoyage$.model.CashInfo">
    insert into cash_info (id, shop_name, cash_type, 
      apply_id, phone_no, account_id, 
      apply_money, reduce_tax, settlement_money, 
      cash_status, order_num, bill_status, 
      create_time, update_time, create_by, 
      update_by, is_deleted, invoice_status
      )
    values (#{id,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, #{cashType,jdbcType=INTEGER}, 
      #{applyId,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{accountId,jdbcType=BIGINT}, 
      #{applyMoney,jdbcType=DECIMAL}, #{reduceTax,jdbcType=DECIMAL}, #{settlementMoney,jdbcType=DECIMAL}, 
      #{cashStatus,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, #{billStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, #{invoiceStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage$.model.CashInfo">
    insert into cash_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="cashType != null">
        cash_type,
      </if>
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="applyMoney != null">
        apply_money,
      </if>
      <if test="reduceTax != null">
        reduce_tax,
      </if>
      <if test="settlementMoney != null">
        settlement_money,
      </if>
      <if test="cashStatus != null">
        cash_status,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="billStatus != null">
        bill_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="invoiceStatus != null">
        invoice_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="cashType != null">
        #{cashType,jdbcType=INTEGER},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="applyMoney != null">
        #{applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="reduceTax != null">
        #{reduceTax,jdbcType=DECIMAL},
      </if>
      <if test="settlementMoney != null">
        #{settlementMoney,jdbcType=DECIMAL},
      </if>
      <if test="cashStatus != null">
        #{cashStatus,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="billStatus != null">
        #{billStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="invoiceStatus != null">
        #{invoiceStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xq.live.globalVoyage$.model.CashInfoExample" resultType="java.lang.Long">
    select count(*) from cash_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cash_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.shopName != null">
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.cashType != null">
        cash_type = #{record.cashType,jdbcType=INTEGER},
      </if>
      <if test="record.applyId != null">
        apply_id = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNo != null">
        phone_no = #{record.phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null">
        account_id = #{record.accountId,jdbcType=BIGINT},
      </if>
      <if test="record.applyMoney != null">
        apply_money = #{record.applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.reduceTax != null">
        reduce_tax = #{record.reduceTax,jdbcType=DECIMAL},
      </if>
      <if test="record.settlementMoney != null">
        settlement_money = #{record.settlementMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.cashStatus != null">
        cash_status = #{record.cashStatus,jdbcType=INTEGER},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.billStatus != null">
        bill_status = #{record.billStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.invoiceStatus != null">
        invoice_status = #{record.invoiceStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cash_info
    set id = #{record.id,jdbcType=BIGINT},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      cash_type = #{record.cashType,jdbcType=INTEGER},
      apply_id = #{record.applyId,jdbcType=VARCHAR},
      phone_no = #{record.phoneNo,jdbcType=VARCHAR},
      account_id = #{record.accountId,jdbcType=BIGINT},
      apply_money = #{record.applyMoney,jdbcType=DECIMAL},
      reduce_tax = #{record.reduceTax,jdbcType=DECIMAL},
      settlement_money = #{record.settlementMoney,jdbcType=DECIMAL},
      cash_status = #{record.cashStatus,jdbcType=INTEGER},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      bill_status = #{record.billStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      invoice_status = #{record.invoiceStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.xq.live.globalVoyage$.model.CashInfo">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="cash_type" jdbcType="INTEGER" property="cashType" />
    <result column="apply_id" jdbcType="VARCHAR" property="applyId" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="apply_money" jdbcType="DECIMAL" property="applyMoney" />
    <result column="reduce_tax" jdbcType="DECIMAL" property="reduceTax" />
    <result column="settlement_money" jdbcType="DECIMAL" property="settlementMoney" />
    <result column="cash_status" jdbcType="INTEGER" property="cashStatus" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="bill_status" jdbcType="INTEGER" property="billStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="invoice_status" jdbcType="TINYINT" property="invoiceStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shop_name, cash_type, apply_id, phone_no, account_id, apply_money, reduce_tax, 
    settlement_money, cash_status, order_num, bill_status, create_time, update_time, 
    create_by, update_by, is_deleted, invoice_status
  </sql>
  <select id="selectByExample" parameterType="com.xq.live.globalVoyage$.model.CashInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cash_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xq.live.globalVoyage$.model.CashInfoExample">
    delete from cash_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xq.live.globalVoyage$.model.CashInfo">
    insert into cash_info (id, shop_name, cash_type, 
      apply_id, phone_no, account_id, 
      apply_money, reduce_tax, settlement_money, 
      cash_status, order_num, bill_status, 
      create_time, update_time, create_by, 
      update_by, is_deleted, invoice_status
      )
    values (#{id,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, #{cashType,jdbcType=INTEGER}, 
      #{applyId,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{accountId,jdbcType=BIGINT}, 
      #{applyMoney,jdbcType=DECIMAL}, #{reduceTax,jdbcType=DECIMAL}, #{settlementMoney,jdbcType=DECIMAL}, 
      #{cashStatus,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, #{billStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, #{invoiceStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.globalVoyage$.model.CashInfo">
    insert into cash_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="cashType != null">
        cash_type,
      </if>
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="applyMoney != null">
        apply_money,
      </if>
      <if test="reduceTax != null">
        reduce_tax,
      </if>
      <if test="settlementMoney != null">
        settlement_money,
      </if>
      <if test="cashStatus != null">
        cash_status,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="billStatus != null">
        bill_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="invoiceStatus != null">
        invoice_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="cashType != null">
        #{cashType,jdbcType=INTEGER},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="applyMoney != null">
        #{applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="reduceTax != null">
        #{reduceTax,jdbcType=DECIMAL},
      </if>
      <if test="settlementMoney != null">
        #{settlementMoney,jdbcType=DECIMAL},
      </if>
      <if test="cashStatus != null">
        #{cashStatus,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="billStatus != null">
        #{billStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="invoiceStatus != null">
        #{invoiceStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xq.live.globalVoyage$.model.CashInfoExample" resultType="java.lang.Long">
    select count(*) from cash_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cash_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.shopName != null">
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.cashType != null">
        cash_type = #{record.cashType,jdbcType=INTEGER},
      </if>
      <if test="record.applyId != null">
        apply_id = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNo != null">
        phone_no = #{record.phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null">
        account_id = #{record.accountId,jdbcType=BIGINT},
      </if>
      <if test="record.applyMoney != null">
        apply_money = #{record.applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.reduceTax != null">
        reduce_tax = #{record.reduceTax,jdbcType=DECIMAL},
      </if>
      <if test="record.settlementMoney != null">
        settlement_money = #{record.settlementMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.cashStatus != null">
        cash_status = #{record.cashStatus,jdbcType=INTEGER},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.billStatus != null">
        bill_status = #{record.billStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.invoiceStatus != null">
        invoice_status = #{record.invoiceStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cash_info
    set id = #{record.id,jdbcType=BIGINT},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      cash_type = #{record.cashType,jdbcType=INTEGER},
      apply_id = #{record.applyId,jdbcType=VARCHAR},
      phone_no = #{record.phoneNo,jdbcType=VARCHAR},
      account_id = #{record.accountId,jdbcType=BIGINT},
      apply_money = #{record.applyMoney,jdbcType=DECIMAL},
      reduce_tax = #{record.reduceTax,jdbcType=DECIMAL},
      settlement_money = #{record.settlementMoney,jdbcType=DECIMAL},
      cash_status = #{record.cashStatus,jdbcType=INTEGER},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      bill_status = #{record.billStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      invoice_status = #{record.invoiceStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>